body {
    font-size: 14px;
    background-image: linear-gradient(rgb(36, 104, 170), rgb(40, 51, 72));
    color :#FFF;
}

.content {
    display: inline-block;
}

.title {
    font-size: 96px;
}

.form-control {
    color: #000;
    background-color: transparent;
    border: 0;
}

.pagination {
    width: 37%;
    margin: 0;
}

.bid-request-form {
    position: absolute;
    z-index: 10;
    background-color: rgba(131, 133, 143, 0.84);
    height: 100%;
    width: 100%;
}

.light-box-body {
    padding: 10px 30px;
    margin: 148px 84px;
    min-height: 431px;
}

.tag,
.tag-list {
    display: block;
}

a.tag-list {
    float: left;
    text-decoration: none;
    color: #0f0f0f;
}

a.tag-list-drop {
    float: right;
    padding-right: 20px;
    color: #FF0000;
    text-decoration: none;
}

.list-group {
    min-height: 240px;
    max-height: 240px;
    overflow-y: auto;
}

.no-show {
    display: none;
}

.ui-datepicker,
.ui-datepicker-calendar {
    background-color: #0a758c !important;
}

.ui-datepicker-next {
    float: right;
    padding-right: 5px;
}

.ui-datepicker-div {
    border-radius: 10px;
}

.ui-datepicker-title {
    padding-left: 30%;
}

.ui-datepicker-prev {
    padding-left: 5px;
}

th span {
    padding-left: 10px;
}

.invalid {
    border-color: #FF0000;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 0, 0, 0.6);
}

.pagination {
    margin: 20px 40%;
}

.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}

.close {
    float: right;
    background: transparent url('../img/large-cancel-close-button.png') no-repeat scroll 98% 40%;
    background-size: cover;
    padding: 6px 42px 21px 0;
    opacity: 1;
    margin: 54px 185px 0 0;
}

.text-fields {
    padding-left: 0;
}

.add-tags {
    border-radius: 28px;
}

.header {
    padding-top: 50px;
}

.center {
    width: 50%;
    margin: 5px 0 16px 25%;
}

.form-horizontal .control-label {
    text-align: left;
}

.form-control {
    background-color: #fff;
}

.list-group {
    box-shadow: none;
}

.tag-item {
    background-color: #fff;

}

 .well {
     background-color: rgba(47, 184, 221, 0.36) !important;
    background-image: none;
}
 .container {
     min-height: 800px;
 }

 .widget {
     background-color: rgba(39, 108, 131, 0.89);
     z-index: 10;
     position: fixed;
     margin: 5px 0 16px 8%;
 }

a {
    color: #00145c;
    text-decoration: none;
}
#deadline {
    color: #0f0f0f;
}
input {
    color: #000
}

::-webkit-input-placeholder {color: #23527c;}
::-moz-placeholder          {color:#23527c;}/* Firefox 19+ */
:-moz-placeholder           {color:#23527c;}/* Firefox 18- */
:-ms-input-placeholder      {color:#23527c;}
